<dl class="component-input-text">
  <dt class="term">
    <label for="<%= name %>" class="label"><%- label %></label>
  </dt>
  <dd class="description">
    <input type="text" name="<%= name %>" value="<%= value %>" id="<%= name %>" class="input">
  </dd>
</dl>